replicaCount: 1

image:
  repository: venkatasiva07/project1  # your Docker Hub image
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
